.content-container {
  background: rgb(192, 74, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;

  .toto-button {
    align-items: center;
    background: rgb(80, 80, 255);
    border-radius: 2rem;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 20rem;
  }
}
