.content-container {
  background-size: cover;
  background-image: url(../assets/wallpaperLudo.jpg);
  background-color: rgba(255, 255, 255, 0.726);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48rem;
  width: 100%;

  .toto-button {
    align-items: center;
    background: rgb(80, 80, 255);
    border-radius: 2rem;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 20rem;
  }
}
