@use '/src/colors';

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 57rem;
  width: 100%;
  padding: 2rem 1rem;
  background-size: cover;
  background-image: url(../assets/wallpaperLudo.jpg);
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: overlay;

  .content-link {
    text-decoration: none;
    color: inherit;
  }

  .toto-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 6rem;
    border: solid 2px colors.$black;
    border-radius: 5rem;
    background: rgba(255, 255, 255, 0.781);
    font-size: 1.5rem;
    font-weight: 700;
  }
}
