@import '../../colors';

.game-board-container {
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 35rem;
  background: rgba(255, 255, 255, 0.842);
  border: solid 4px $black;
  border-radius: 1rem;
  justify-content: center;
  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.7);
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.363);
  animation: boardEnter 0.9s ease-in forwards;

  @keyframes boardEnter {
    to {
      transform: perspective(750px) translate3d(0px, 0px, 0px) rotateX(0deg)
        scale(1);
    }
  }

  .game-board-top {
    display: flex;
    justify-content: center;
    height: 32%;
    gap: 1px;

    &_left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32%;
      background: $blue-A700;
      &_home {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: $blue-900;
        border-radius: 0.7rem;
        width: 80%;
        height: 80%;
        align-items: center;
        align-content: center;
        gap: 10%;

        .base-circle {
          width: 30%;
          height: 30%;

          border-radius: 5rem;
          background: $blue-700;
        }
      }
    }
    &_center {
      display: flex;
      justify-content: space-between;
      width: 24%;
      background: rgb(255, 255, 255);
      gap: 1px;
      flex-wrap: wrap;

      .square {
        width: calc((100% / 3) - 1px);
        height: calc((100% / 4) - 1px);
        border: solid 1px #cfcfcf;

        $child-red: 5, 6, 8, 11;

        @each $child in $child-red {
          &:nth-child(#{$child}) {
            background: $red-A700;
            border-color: $red-A700;
          }
        }
      }
    }
    &_right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32%;
      background: $red-A700;
      &_home {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: $red-900;
        border-radius: 0.7rem;
        width: 80%;
        height: 80%;
        align-items: center;
        align-content: center;
        gap: 10%;

        .base-circle {
          width: 30%;
          height: 30%;

          border-radius: 5rem;
          background: $red-700;
        }
      }
    }
  }
  .game-board-mid {
    display: flex;
    justify-content: center;
    height: 24%;
    gap: 1px;
    flex-wrap: wrap;
    &_left {
      display: flex;
      justify-content: space-between;
      width: 32%;
      background: rgb(255, 255, 255);
      gap: 1px;
      flex-wrap: wrap;
      align-content: center;

      .square {
        width: calc((100% / 4) - 1px);
        height: calc((100% / 3) - 2px);
        border: solid 1px #cfcfcf;

        $child-blue: 2, 6, 7, 8;

        @each $child in $child-blue {
          &:nth-child(#{$child}) {
            background: $blue-A700;
            border-color: $blue-A700;
          }
        }
      }
    }
    &_center {
      position: relative;
      overflow: hidden;
      justify-content: center;
      width: 24%;
      clip-path: inset(2px 0 2px 0);

      &_win-zone {
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotate(45deg);

        &:nth-child(1) {
          left: -70%;
          background: $blue-A700;
        }
        &:nth-child(2) {
          top: -70%;
          background: $red-A700;
        }
        &:nth-child(3) {
          bottom: -70%;
          background: $yellow-A700;
        }
        &:nth-child(4) {
          right: -70%;
          background: $green-A700;
        }
      }
    }
    &_right {
      display: flex;
      justify-content: space-between;
      width: 32%;
      background: rgb(255, 255, 255);
      gap: 1px;
      flex-wrap: wrap;
      align-content: center;

      .square {
        width: calc((100% / 4) - 2px);
        height: calc((100% / 3) - 2px);
        border: solid 1px #cfcfcf;

        $child-green: 5, 6, 7, 11;

        @each $child in $child-green {
          &:nth-child(#{$child}) {
            background: $green-A700;
            border-color: $green-A700;
          }
        }
      }
    }
  }
  .game-board-bottom {
    display: flex;
    justify-content: center;
    height: 32%;
    gap: 1px;

    &_left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32%;
      background: $yellow-A700;
      &_home {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: $yellow-900;
        border-radius: 0.7rem;
        width: 80%;
        height: 80%;
        align-items: center;
        align-content: center;
        gap: 10%;

        .base-circle {
          width: 30%;
          height: 30%;

          border-radius: 5rem;
          background: $yellow-700;
        }
      }
    }
    &_center {
      display: flex;
      justify-content: space-between;
      width: 24%;
      background: rgb(255, 255, 255);
      gap: 1px;
      flex-wrap: wrap;

      .square {
        width: calc((100% / 3) - 2px);
        height: calc((100% / 4) - 2px);
        border: solid 1px #cfcfcf;

        $child-yellow: 2, 5, 7, 8;

        @each $child in $child-yellow {
          &:nth-child(#{$child}) {
            background: $yellow-A700;
            border-color: $yellow-A700;
          }
        }
      }
    }
    &_right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32%;
      background: $green-A700;
      &_home {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: $green-900;
        border-radius: 0.7rem;
        width: 80%;
        height: 80%;
        align-items: center;
        align-content: center;
        gap: 10%;

        .base-circle {
          width: 30%;
          height: 30%;
          border-radius: 5rem;
          background: $green-700;

          svg {
            transition: transform 100ms ease-in;
          }
        }
      }
    }
  }
}
