/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Buttons */
button {
  border: none;
  background: none;
  cursor: pointer;
}
